body {
    font-family: Arial, sans-serif;
    background-color: #c4466c;
    color: #20a7dd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cf7e05;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    background-color: #cce6ff;
    border: 2px solid #b97a13;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
}

label {
    color: #004080;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    border: 2px solid #004080;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 20px);
}

button {
    background-color: #b13749;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #003366;
}

#greeting {
    color: #004080;
    font-size: 1.2em;
    margin-top: 20px;
}

footer {
    background-color: #daa426;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
